[Unit]
Description=Caraneer PostgreSQL cleanup timer

[Timer]
OnCalendar=Mon..Fri 06:00
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
