Package: caraneer-config-acmetool
Version: VERSION_REPLACEME
Section: admin
Priority: optional
Architecture: all
Depends: acmetool, simconf (>=0.3.1), simconf (<<0.5.0)
Maintainer: Aritz Beobide-Cardinal <aritz@caraneer.ca>
Description: Config package to mount S3QL volumes with systemd and simconf
